* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, serif;

}

body {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

button:hover {
  cursor: pointer;
}

.header_node {
  padding-bottom: 3em;
}

.open_index_menu_button {
  position: fixed;
  top: 6vh;
  right: 2vw;
  height: 2em;
  width: 16%;
  font-size: 1.2em;
  text-align: center;
  background-color: transparent;
  border: 1px solid #36454F;
  border-radius: 2px;
  /*transition-property: right, opacity;*/
  /*transition-duration: 400ms;*/
  /*transition-timing-function: ease;*/
  opacity: .6;
  overflow: hidden;
}

.open_index_menu_button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .5);
  opacity: 1;
}

.open_index_menu_button.toggle_index_menu {
  right: -20%;
  /*transition-property: right, opacity;*/
  /*transition-duration: 400ms;*/
  /*transition-timing-function: ease;*/
}

.main_content_wrap {
  background: url("background/wood.jpg") fixed;
  /*display: grid;*/
  /*grid-template-columns: auto auto;*/
}

.main_content {
  /*grid-column: 1;*/
  padding: 5% 20%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);
  /*transition-property: padding;*/
  /*transition-duration: 400ms;*/
  /*transition-timing-function: ease;*/
}

.main_content.toggle_index_menu {
  /*.main_content.shrink_padding {*/
  /*padding: 5% 30% 5% 10%;*/
  /*transition-property: padding;*/
  /*transition-duration: 400ms;*/
  /*transition-timing-function: ease;*/
}

.h2_node {
  margin-bottom: 1em;
  color: black;
}

.article_node {
  box-shadow: 0px 5px 20px -8px rgba(0, 0, 0, .9);
  padding: 5em 3em 2em;
  margin-bottom: 1em;
  background-color: white;
}

.article_section_p {
  text-align: justify;
  line-height: 1.6;
  color: #36454F;

}

.article_footer {
  margin-top: 4em;
  opacity: 0.2;
}

.article_footer_p_span {
  font-style: italic;
}

.index_side_menu_wrap {
  display: grid;
  /*grid-template-rows: 25% auto;*/
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  /*transition-property: width;*/
  /*transition-duration: 200ms;*/
  /*transition-timing-function: ease;*/
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);
  background-color: white;
  overflow-y: auto;
}

.index_side_menu_header_wrap {
  /*position: fixed;*/
  /*grid-row: 1;*/
  width: 20vw;
  background-color: white;
  /*z-index: 10;*/
}

.nav_index_menu_ol {
  counter-reset: customNumbering;
  /*height: 100vh;*/
  /*grid-row: 2;*/
}

.index_menu_ol_li {
  position: relative;
  list-style: none;
}

.index_menu_ol_li::before {
  content: counter(customNumbering, lower-roman);
  counter-increment: customNumbering;
  position: absolute;
  right: 0;
  width: 50px;
}

.nav_index_menu_ol a:link,
.nav_index_menu_ol a:visited,
.index_side_menu_header_wrap a:link,
.index_side_menu_header_wrap a:visited {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.index_menu_ol_li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0;
  padding: 5px 20px;
  white-space: nowrap;
}

.index_menu_ol_li_span_leading_dots {
  flex-grow: 1;
  border-bottom: 1px dashed darkgray;
  margin: 0 35px 0 10px;
}

/*.index_side_menu_wrap.toggle_index_menu {*/
/*.index_side_menu_wrap.status_open {*/
/*width: 20%;*/
/*transition-property: width;*/
/*transition-duration: 200ms;*/
/*transition-timing-function: ease;*/
/*}*/

.index_menu_ol_li_h1 {
  font-size: 1em;
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/*.index_menu_ol_li_span_leading_dots {*/
/*flex-grow: 1;*/
/*margin: 0 6px;*/
/*border-bottom: 1px dashed darkgray;*/
/*}*/
/*.index_menu_ol_li_span_counter {*/
/*font-style: italic;*/
/*}*/

.index_menu_ol_li_h1:hover, .index_menu_ol_li:hover {
  background-color: beige;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);
}

/*.index_menu_ol a:link, .index_menu_ol a:visited {*/
/*color: black;*/
/*text-decoration: none;*/
/*}*/

/*.highlight_index_li {*/
/*box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);*/
/*}*/

.close_index_menu_button {
  width: 100%;
  display: grid;
  padding: 2em 0;
  border: 0;
}

.close_index_menu_button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);
  background-color: tomato;
}

.close_index_menu_button span {
  font-size: 1em;
  align-self: center;
}

.close_index_menu_icon {
  height: 3em;
  place-self: center;
}

.highlight_by_scroll .index_menu_ol_li {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .9);
  background-color: beige;
}